
body {
  font-family: 'Rubik', sans-serif;
    border-radius: 50%;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}


#container {
  padding:50px;
  background-color:#FFF;
}

.create-event {
  background-color: #7c4dff;
  width: 1000px;
  padding: 10%;
}

.form-group {
  color: white;
}

.homepage {
  width: 1000px;
}

.center {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}