
body {
  font-family: 'Rubik', sans-serif;
    border-radius: 50%;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}


#container {
  padding:50px;
  background-color:#FFF;
}

.create-event {
  background-color: #7c4dff;
  width: 100%;
  padding: 5%;
}

.form-group {
  color: white;
}

.homepage {
  width: 1000px;
}

.center {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.customCard {
  /* backgroundColor: "rgba(20,20,20,0.3)", color: "#7c4dff", textAlign: "center", boxShadow: "5px 5px 5px ", border: ".5px solid black" }}> */
  background-color: rgba(20,20,20,0.3);
  color: #7c4dff;
  text-align: center;
  box-shadow: 5px 5px 5px;
  border:.5px solid black;
}